<div class="page-container login-cover">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content col-lg-4 col-md-4 col-sm-6 col-xs-12 col-centered">
        <!-- Form with validation -->
        <form class="form-validate animated bounceInUp" [formGroup]="loginForm">
          <div class="panel panel-body login-form">
            <div class="col-lg-12 logo">
            </div>

            <div class="text-center">
              <h5 class="content-group">Login to your account <small>Your credentials</small></h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="email" class="form-control" placeholder="Email" name="email" required formControlName="email"
                     email>

              <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
              </div>
              <div class="alert alert-danger" *ngIf="!loginForm.get('email').valid && formErrors.email">{{ formErrors.email }}</div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="password" class="form-control" placeholder="Password" name="password" required
                     formControlName="password">

              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
              <div class="alert alert-danger" *ngIf="!loginForm.get('password').valid && formErrors.password">{{ formErrors.password }}</div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block" (click)="onLoginHandler($event)">Log in</button>
            </div>
            <div class="form-group login-options">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <a [routerLink]="['../../start-page']">Back</a>
                </div>

                <div class="col-sm-6 text-right">
                  <a [routerLink]="['../forgot-password']">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
