<div class="table-responsive">
  <table id="users_table" class="table table-striped  table-hover">
  </table>
</div>

<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3">
  <button type="submit" class="btn btn-primary col-lg-3 col-md-3 col-sm-3" (click)="clickOnCreate()">Create Super Manager</button>
  <button *ngIf="selectedRow" type="submit" class="btn btn-primary col-lg-2 col-lg-2 col-md-2 col-sm-2" (click)="onEditSuperManager()">Edit</button>
  <button *ngIf="selectedRow" type="submit" class="btn btn-primary col-lg-2 col-lg-2 col-md-2 col-sm-2"
          data-toggle="modal" data-target="#infoDeleteUser">Delete</button>
</div>

<div *ngIf="isClickOnCreateSuperManager" class="animated fadeInRight">
  <div class="panel col-lg-10 col-lg-offset-1">
    <form [formGroup]="addSuperManagerForm">
      <div class="form-horizontal col-lg-10 col-lg-offset-2 col-md-offset-2">

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Name:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="name" title="" required pattern>
            </div>
            <span class="help-block">Enter user name</span>
            <div class="alert alert-danger" *ngIf="!addSuperManagerForm.get('name').valid
          && formErrors.name">{{ formErrors.name }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Email:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="email" title="" required email>
            </div>
            <span class="help-block">Enter email</span>
            <div class="alert alert-danger" *ngIf="!addSuperManagerForm.get('email').valid
           && formErrors.email">{{ formErrors.email }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Phone:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="phone" title="" required pattern>
            </div>
            <span class="help-block">Enter phone</span>
            <div class="alert alert-danger" *ngIf="!addSuperManagerForm.get('phone').valid
          && formErrors.phone">{{ formErrors.phone }}</div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-9 col-lg-offset-3">
      <button class="btn btn-primary col-lg-3" (click)="onCreateSuperManager()">Save</button>
      <button class="btn btn-primary col-lg-3" (click)="onCancelAddNewSuperManager()">Cancel</button>
    </div>
  </div>
</div>



<div *ngIf="isClickOnEditSuperManager" class="animated fadeInRight">
  <div class="panel col-lg-10 col-lg-offset-1">
    <form [formGroup]="editSuperManagerForm">
      <div class="form-horizontal col-lg-10 col-lg-offset-2 col-md-offset-2">

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Age range:</label>
          <div class="col-md-6 col-xs-12">
            <div class="select-group">
              <select type="text" class="form-control" title="" [(ngModel)]="ageRange" [ngModelOptions]="{standalone: true}">
                <option value=""></option>
                <option  *ngFor="let formalTitle of listAgeRange" value="{{formalTitle.val}}">{{formalTitle.title}}</option>
              </select>
            </div>
            <span class="help-block">Change personal title</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">User name:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="name" title="" required pattern>
            </div>
            <span class="help-block">Change user name</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('name').valid
          && formErrors.name">{{ formErrors.name }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Email:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="email" title="" required email>
            </div>
            <span class="help-block">Change email</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('email').valid
           && formErrors.email">{{ formErrors.email }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Phone:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="phone" title="" required pattern>
            </div>
            <span class="help-block">Change phone</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('phone').valid
          && formErrors.phone">{{ formErrors.phone }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Country:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="country" title="">
            </div>
            <span class="help-block">Change country</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('country').valid
          && formErrors.country">{{ formErrors.country }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">City:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="city" title="">
            </div>
            <span class="help-block">Change city</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('city').valid
          && formErrors.city">{{ formErrors.city }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Address:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="address" title="">
            </div>
            <span class="help-block">Change address</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('address').valid
          && formErrors.address">{{ formErrors.address }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Occupation:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="occupation" title="">
            </div>
            <span class="help-block">Change occupation</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('occupation').valid
          && formErrors.occupation">{{ formErrors.occupation }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Company name:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="companyName" title="">
            </div>
            <span class="help-block">Change company name</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('companyName').valid
          && formErrors.companyName">{{ formErrors.companyName }}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Facebook link:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="facebookLink" title="">
            </div>
            <span class="help-block">Change Facebook link</span>
            <div class="alert alert-danger" *ngIf="!editSuperManagerForm.get('facebookLink').valid
          && formErrors.facebookLink">{{ formErrors.facebookLink}}</div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-9 col-lg-offset-3">
      <button class="btn btn-primary col-lg-3" (click)="onSaveEditSuperManager()">Save</button>
      <button class="btn btn-primary col-lg-3" (click)="onCancelEditSuperManager()">Cancel</button>
    </div>
  </div>
</div>

<div id="infoDeleteUser" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle">
      <div class="mb-content">
        <h4>Are you sure that you want to delete this user?</h4>
        <div>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="onDeleteUser()">Yes</button>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="infoBox" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle">
      <div class="mb-content">
        <div *ngIf="!infoMessage">
          <img src="../../../../../assets/img/loading.gif" width="150" height="150"/>
        </div>
        <div *ngIf="infoMessage">
          <h2>{{infoMessage}}</h2>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="closeModal()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
