button, button:hover, button:active, button:focus {
  color: white;
  background-color: #1b1e24;
  border-color: #1b1e24;
  margin: 5px;
}

.message-box .mb-container {
  position: absolute;
  left: 0px;
  top: 35%;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  /*width: 100%;*/
}

.message-box {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.message-box .mb-container .mb-middle .mb-title {
  width: 100%;
  float: left;
  padding: 10px 0px 0px;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
}

.message-box .mb-container .mb-middle {
  width: 50%;
  left: 25%;
  position: relative;
}

.mb-content > div{
  text-align: center;
}

.select-group select{
  /*border-radius: 4px !important;*/
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.select-group{
  width: 100%;
}

.panel{
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.panel form{
  margin-top: 10px;
}

.btn-primary {
  background-color: #1b1e24;
  border-color: #1b1e24;
  margin: 5px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #101215;
  border-color: #101215;
}
.btn-primary[disabled],
.btn-primary.disabled {
  background: #313641;
  border-color: #2c313b;
}

.btn .fa,
.btn .glyphicon {
  font-size: 14px;
  margin-right: 5px;
}


.input-group-addon {
  border-color: #1b1e24;
  background-color: #1b1e24;
  font-size: 13px;
  padding: 0px 10px;
  line-height: 28px;
  color: #FFF;
  text-align: center;
  min-width: 36px;
}
