<div class="page-content-wrap">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET MESSAGES -->
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-users"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countSuperManagers}}</div>
          <div class="widget-title">Number of the super managers</div>
          <div class="widget-subtitle">In your site</div>
        </div>
      </div>
      <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET MESSAGES -->
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countManagers}}</div>
          <div class="widget-title">Number of the managers</div>
          <div class="widget-subtitle">In your site</div>
        </div>
      </div>
      <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET MESSAGES -->
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countCustomers}}</div>
          <div class="widget-title">Registered users</div>
          <div class="widget-subtitle">On your site</div>
        </div>
      </div>
      <!-- END WIDGET MESSAGES -->
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET CLOCK -->
      <div class="widget widget-info widget-padding-sm">
        <div class="widget-big-int plugin-clock">00:00</div>
        <div class="widget-subtitle plugin-date">Loading...</div>
        <div class="widget-buttons widget-c3">
          <div class="col">
            <a href="#"><span class="fa fa-clock-o"></span></a>
          </div>
          <div class="col">
            <a href="#"><span class="fa fa-bell"></span></a>
          </div>
          <div class="col">
            <a href="#"><span class="fa fa-calendar"></span></a>
          </div>
        </div>
      </div>
      <!-- END WIDGET CLOCK -->

    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countCustomers}}</div>
          <div class="widget-title">Amount of active users per month</div>
          <div class="widget-subtitle">On your site</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countCustomers}}</div>
          <div class="widget-title">New users signed up per month</div>
          <div class="widget-subtitle">On your site</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <!-- START AGE BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Age</h3>
            <span>Users age</span>
          </div>
        </div>
        <div class="panel-body padding-0">
          <div class="chart-holder" id="dashboard-donut-age" style="height: 200px;"></div>
        </div>
      </div>
      <!-- END AGE BLOCK -->

    </div>
    <div class="col-md-6">

      <!-- START VISITORS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Using devices</h3>
            <span>Users devices which they use</span>
          </div>
        </div>
        <div class="panel-body padding-0">
          <div class="chart-holder" id="dashboard-donut-device" style="height: 200px;"></div>
        </div>
      </div>
      <!-- END VISITORS BLOCK -->

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <!-- START SALES BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Users location in Netherlands</h3>
          </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
              <div id="dashboard-map-nl" style="width: 100%; height: 200px"></div>
            </div>
        </div>
      </div>
      <!-- END SALES BLOCK -->
    </div>
    <div class="col-md-6">

      <!-- START SALES BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3> Users location in Germany</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div id="dashboard-map-de" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>
      <!-- END SALES BLOCK -->
    </div>
  </div>
</div>
