<div class="page-content-wrap">
  <div class="row">

      <!-- START WIDGET SLIDER -->
      <div class="col-md-3 col-lg-3">
        <div class="widget widget-default widget-carousel">
          <div class="owl-carousel">
            <div>
              <div class="widget-title">Total Super Manager</div>
              <div class="widget-subtitle">On your site</div>
              <div class="widget-int">{{countSuperManagers}}</div>
            </div>
            <div>
              <div class="widget-title">Total Manager</div>
              <div class="widget-subtitle">On your site</div>
              <div class="widget-int">{{countManagers}}</div>
            </div>
            <div>
              <div class="widget-title">Total Users</div>
              <div class="widget-subtitle">On your site</div>
              <div class="widget-int">{{countCustomers}}</div>
            </div>
          </div>
        </div>

      </div>
      <!-- END WIDGET SLIDER -->



    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET MESSAGES -->
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countManagers}}</div>
          <div class="widget-title">Number of the managers</div>
          <div class="widget-subtitle">In your site</div>
        </div>
      </div>
      <!-- END WIDGET MESSAGES -->
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET MESSAGES -->
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{countCustomers}}</div>
          <div class="widget-title">Registered users</div>
          <div class="widget-subtitle">On your site</div>
        </div>
      </div>
      <!-- END WIDGET MESSAGES -->
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">

      <!-- START WIDGET CLOCK -->
      <div class="widget widget-info widget-padding-sm">
        <div class="widget-big-int plugin-clock">00:00</div>
        <div class="widget-subtitle plugin-date">Loading...</div>
        <div class="widget-buttons widget-c3">
          Current time
        </div>
      </div>
      <!-- END WIDGET CLOCK -->

    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{numberOfActiveUsersPerMonth}}</div>
          <div class="widget-title">Amount of active users per month</div>
          <div class="widget-subtitle">On your site</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">{{numberOfRegisteredUsersPerMonth}}</div>
          <div class="widget-title">New users signed up per month</div>
          <div class="widget-subtitle">On your site</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

      <!-- START AGE BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Age</h3>
            <span>Users age</span>
          </div>
        </div>
        <div class="panel-body padding-0">
          <div class="chart-holder" id="dashboard-donut-age" style="height: 200px;"></div>
        </div>
      </div>
      <!-- END AGE BLOCK -->

    </div>
    <div class="col-md-4">

      <!-- START VISITORS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Using devices</h3>
            <span>Users devices which they use</span>
          </div>
        </div>
        <div class="panel-body padding-0">
          <div class="chart-holder" id="dashboard-donut-device" style="height: 200px;"></div>
        </div>
      </div>
      <!-- END VISITORS BLOCK -->

    </div>
    <div class="col-md-4">
      <!-- START PROJECTS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Online users</h3>
            <span>Users and current location in app</span>
          </div>
        </div>
        <div class="panel-body panel-body-table" style="height: 230px">
          <div class="table-responsive" style="height: 100%">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th width="40%">User</th>
                <th width="30%">App</th>
                <th width="30%">Place</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><strong>Joli Admin</strong></td>
                <td>Project name</td>
                <td>Room 2</td>
              </tr>
              <tr>
                <td><strong>Joli Admin</strong></td>
                <td>Project name</td>
                <td>Room 2</td>
              </tr>
              <tr>
                <td><strong>Taurus</strong></td>
                <td>Project name</td>
                <td>Room 2</td>
              </tr>
              <tr>
                <td><strong>Leo</strong></td>
                <td>Project name</td>
                <td>Room 2</td>
              </tr>
              <tr>
                <td><strong>Virgo</strong></td>
                <td>Project name</td>
                <td>Room 2</td>
              </tr>

              </tbody>
            </table>
          </div>

        </div>
        <!-- END PROJECTS BLOCK -->

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

      <!-- START SALES BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Users location in Netherlands</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div id="dashboard-map-nl" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>
      <!-- END SALES BLOCK -->
    </div>
    <div class="col-md-4">

      <!-- START SALES BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3> Users location in Germany</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div id="dashboard-map-de" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>
      <!-- END SALES BLOCK -->
    </div>
    <div class="col-md-4">
      <!-- START PROJECTS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>New users in 24 hours</h3>
          </div>
        </div>
        <div class="panel-body panel-body-table" style="height: 230px">
          <div class="table-responsive" style="height: 100%">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th width="20%">User</th>
                <th width="30%">Email</th>
                <th width="30%">List of projects</th>
                <th width="20%">Assign new projects</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let newUser of newUsersPerDay">
                <td><strong>{{newUser.displayName}}</strong></td>
                <td>{{newUser.email}}</td>
                <td><ul style="padding-left: 12px;">
                  <li *ngFor="let project of newUser.projects">{{project.name}}</li>
                </ul>
                </td>
                <td> + </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- END PROJECTS BLOCK -->

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- START PROJECTS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>History</h3>
          </div>
        </div>
        <div class="panel-body panel-body-table" style="height: 230px">
          <div class="table-responsive" style="height: 100%">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th width="15%">User</th>
                <th width="25%">Views</th>
                <th width="40%">Times</th>
                <th width="30%">Editor</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Photo</td>
                <td><strong>Project name</strong></td>
                <td>Description</td>
                <td>Editor</td>
              </tr>
              <tr>
                <td>Photo</td>
                <td><strong>Project name</strong></td>
                <td>Description</td>
                <td>Editor</td>
              </tr>
              <tr>
                <td>Photo</td>
                <td><strong>Project name</strong></td>
                <td>Description</td>
                <td>Editor</td>
              </tr>
              <tr>
                <td>Photo</td>
                <td><strong>Project name</strong></td>
                <td>Description</td>
                <td>Editor</td>
              </tr>
              <tr>
                <td>Photo</td>
                <td><strong>Project name</strong></td>
                <td>Description</td>
                <td>Editor</td>
              </tr>

              </tbody>
            </table>
          </div>

        </div>
        <!-- END PROJECTS BLOCK -->
      </div>
    </div>
    <div class="col-md-4">
      <!-- START PROJECTS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Projects</h3>
          </div>
        </div>
        <div class="panel-body panel-body-table" style="height: 230px">
          <div class="table-responsive" style="height: 100%">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th width="15%">Project view</th>
                <th width="25%">Project name</th>
                <th width="40%">Project description</th>
                <th width="30%">Editor</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let project of projectsAll">
                <td width="15%"><img src="{{url}}{{project.miniImageUrl}}" style="width: 90%; height: auto"></td>
                <td width="25%"><strong>{{project.name}}</strong></td>
                <td width="40%"><p style="line-break: auto;">{{project.description}}</p></td>
                <td width="30%"><button class="btn" (click)="goToEditor(project.id)">Go</button></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- END PROJECTS BLOCK -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

      <!-- START USERS ACTIVITY BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Users Activity</h3>
            <span>Users vs returning</span>
          </div>
        </div>
        <div class="panel-body padding-0">
          <div class="chart-holder" id="dashboard-bar-1" style="height: 200px;"></div>
        </div>
      </div>
      <!-- END USERS ACTIVITY BLOCK -->

    </div>
  </div>

</div>
