<div class="page-content-wrap">
  <div class="col-md-3">

    <!-- START WIDGET MESSAGES -->
    <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
      <div class="widget-item-left">
        <span class="fa fa-envelope"></span>
      </div>
      <div class="widget-data">
        <div class="widget-int num-count">48</div>
        <div class="widget-title">New messages</div>
        <div class="widget-subtitle">In your mailbox</div>
      </div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
           title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
    </div>
    <!-- END WIDGET MESSAGES -->

  </div>
  <div class="col-md-3">

    <!-- START WIDGET MESSAGES -->
    <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
      <div class="widget-item-left">
        <span class="fa fa-envelope"></span>
      </div>
      <div class="widget-data">
        <div class="widget-int num-count">48</div>
        <div class="widget-title">New messages</div>
        <div class="widget-subtitle">In your mailbox</div>
      </div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
           title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
    </div>
    <!-- END WIDGET MESSAGES -->
  </div>
  <div class="col-md-3">

    <!-- START WIDGET MESSAGES -->
    <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
      <div class="widget-item-left">
        <span class="fa fa-envelope"></span>
      </div>
      <div class="widget-data">
        <div class="widget-int num-count">48</div>
        <div class="widget-title">New messages</div>
        <div class="widget-subtitle">In your mailbox</div>
      </div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
           title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
    </div>
    <!-- END WIDGET MESSAGES -->
  </div>

  <div class="col-md-3">

    <!-- START WIDGET CLOCK -->
    <div class="widget widget-info widget-padding-sm">
      <div class="widget-big-int plugin-clock">00:00</div>
      <div class="widget-subtitle plugin-date">Loading...</div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left"
           title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
      <div class="widget-buttons widget-c3">
        <div class="col">
          <a href="#"><span class="fa fa-clock-o"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-bell"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-calendar"></span></a>
        </div>
      </div>
    </div>
    <!-- END WIDGET CLOCK -->

  </div>

  <div class="row">
    <div class="col-md-8">

      <!-- START SALES BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
        Users location

        </div>
        <div class="panel-body">
            <div class="col-md-12">
              <div id="dashboard-map-seles" style="width: 100%; height: 200px"></div>
            </div>
        </div>
      </div>
      <!-- END SALES BLOCK -->

    </div>
  </div>
</div>
