<div class="wrapper-dashboard">
  <div class="row header">
    <div class="col-lg-2 col-md-2 col-sm-12">
      <dashboard-profile-administration></dashboard-profile-administration>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
      <dashboard-header></dashboard-header>
    </div>
  </div>
  <div class="row central-screen">
    <div class="col-lg-2 col-md-2 menu">
      <dashboard-menu></dashboard-menu>
    </div>
    <div class="col-lg-10 col-md-10 content">
      <dashboard-content></dashboard-content>
    </div>
  </div>
  <footer>
    <dashboard-footer></dashboard-footer>
  </footer>
</div>
