<div class="table-responsive scroll-block">
  <table id="users_table" class="table table-striped  table-hover">
  </table>
</div>

<div class="row">
  <div class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-offset-1 col-xs-11">
    <button type="submit" class="btn btn-primary col-lg-3 col-md-3 col-sm-3 col-xs-3" (click)="clickOnCreate()">Create</button>
    <button *ngIf="selectedRow" type="submit" class="btn btn-primary col-lg-3 col-md-3 col-sm-3 col-xs-3" (click)="onEditUser()">Edit</button>
    <button *ngIf="selectedRow" type="submit" class="btn btn-primary col-lg-3 col-md-3 col-sm-3 col-xs-3"
            data-toggle="modal" data-target="#infoDeleteUser">Delete</button>
  </div>
</div>

<div *ngIf="isClickOnCreateUser" class="animated fadeInLeft">
  <div class="panel col-lg-10 col-lg-offset-1">
    <form [formGroup]="addUserForm">
      <div class="form-horizontal col-lg-10 col-lg-offset-2 col-md-offset-2">

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">User name:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="name" title="" required pattern>
            </div>
            <span class="help-block">Enter user name</span>
            <div class="alert alert-danger" *ngIf="!addUserForm.get('name').valid
          && formErrors.name">{{ formErrors.name }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Email:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="email" title="" required email>
            </div>
            <span class="help-block">Enter email</span>
            <div class="alert alert-danger" *ngIf="!addUserForm.get('email').valid
           && formErrors.email">{{ formErrors.email }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Phone:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="phone" title="" required pattern>
            </div>
            <span class="help-block">Enter phone</span>
            <div class="alert alert-danger" *ngIf="!addUserForm.get('phone').valid
          && formErrors.phone">{{ formErrors.phone }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Project:</label>
          <div class="col-md-6 col-xs-12">
            <button style="margin-left: 0" class="btn btn-primary" data-toggle="modal" data-target="#addProject">Add or
              remove project
            </button>
            <span class="help-block">Add projects to user</span>
            <div *ngIf="listProjectsForAdd && listProjectsForAdd.length != 0">
              <h4>List of projects: </h4>
              <ul>
                <li *ngFor="let project of listProjectsForAdd">{{project}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3
        col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <button class="btn btn-primary col-lg-3 col-md-3 col-sm-5 col-xs-5" (click)="onCreateUser()">Save</button>
        <button class="btn btn-primary col-lg-3 col-md-3 col-sm-5 col-xs-5" (click)="onCancelAddNewUser()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isClickOnEditUser" class="animated fadeInLeft">
  <div class="panel col-lg-10 col-lg-offset-1">
    <form [formGroup]="editUserForm">
      <div class="form-horizontal col-lg-10 col-lg-offset-2 col-md-offset-2">

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Age range:</label>
          <div class="col-md-6 col-xs-12">
            <div class="select-group">
              <select type="text" class="form-control" title="" [(ngModel)]="ageRange"
                      [ngModelOptions]="{standalone: true}">
                <option value=""></option>
                <option *ngFor="let formalTitle of listAgeRange" value="{{formalTitle}}">{{formalTitle}}
                </option>
              </select>
            </div>
            <span class="help-block">Change personal title</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">User name:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="name" title="" required pattern>
            </div>
            <span class="help-block">Change user name</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('name').valid
          && formErrors.name">{{ formErrors.name }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Email:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="email" title="" required email>
            </div>
            <span class="help-block">Change email</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('email').valid
           && formErrors.email">{{ formErrors.email }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Phone:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="phone" title="" required pattern>
            </div>
            <span class="help-block">Change phone</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('phone').valid
          && formErrors.phone">{{ formErrors.phone }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Country:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="country" title="">
            </div>
            <span class="help-block">Change country</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('country').valid
          && formErrors.country">{{ formErrors.country }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">City:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="city" title="">
            </div>
            <span class="help-block">Change city</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('city').valid
          && formErrors.city">{{ formErrors.city }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Address:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="address" title="">
            </div>
            <span class="help-block">Change address</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('address').valid
          && formErrors.address">{{ formErrors.address }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Occupation:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="occupation" title="">
            </div>
            <span class="help-block">Change occupation</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('occupation').valid
          && formErrors.occupation">{{ formErrors.occupation }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Company name:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="companyName" title="">
            </div>
            <span class="help-block">Change company name</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('companyName').valid
          && formErrors.companyName">{{ formErrors.companyName }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Facebook link:</label>
          <div class="col-md-6 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-pencil"></i></span>
              <input type="text" class="form-control" formControlName="facebookLink" title="">
            </div>
            <span class="help-block">Change Facebook link</span>
            <div class="alert alert-danger" *ngIf="!editUserForm.get('facebookLink').valid
          && formErrors.facebookLink">{{ formErrors.facebookLink}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-xs-12 control-label">Project:</label>
          <div class="col-md-6 col-xs-12">
            <button style="margin-left: 0" class="btn btn-primary" data-toggle="modal" data-target="#addProject">Add or
              remove project
            </button>
            <span class="help-block">Add projects to user</span>
            <div *ngIf="listProjectsForAdd && listProjectsForAdd.length != 0">
              <h4>List of projects: </h4>
              <ul>
                <li *ngFor="let project of listProjectsForAdd">{{project}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3
        col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <button class="btn btn-primary col-lg-3 col-md-3 col-sm-5 col-xs-5" (click)="onSaveEditUser()">Save</button>
        <button class="btn btn-primary col-lg-3 col-md-3 col-sm-5 col-xs-5" (click)="onCancelEditUser()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSelectedRow" class="animated fadeInLeft">
  <div style="padding: 10px" class="panel col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Name: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>
        {{selectedRow.name ? selectedRow.name : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Email: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>
        {{selectedRow.email ? selectedRow.email : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Country: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>
        {{selectedRow.country ? selectedRow.country : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>City: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>{{selectedRow.city ? selectedRow.city : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Address: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>{{selectedRow.address ? selectedRow.address : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Phone: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>{{selectedRow.phone ? selectedRow.phone : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Occupation: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>{{selectedRow.ocupation ? selectedRow.ocupation : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Company name: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>{{selectedRow.companyName ? selectedRow.companyName : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>Facebook link: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><h5>{{selectedRow.facebookLink ? selectedRow.facebookLink : 'NA'}}</h5></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h5><b>List of projects: </b></h5></div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <span *ngIf="listProjectsForAdd.length == 0"><h5>NA</h5></span>
        <div *ngIf="listProjectsForAdd && listProjectsForAdd.length != 0">
          <h4>List of projects: </h4>
          <ul>
            <li *ngFor="let project of listProjectsForAdd">{{project}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


  <div id="infoDeleteUser" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle">
        <div class="mb-content" style="text-align: center">
          <h4>Are you sure that you want to delete this user?</h4>
          <div>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="onDeleteUser()">Yes</button>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addProject" class="modal message-box animated fade" role="dialog" style="height: 100%">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2" style="max-height: 60%; overflow-y: auto">
      <div class="mb-middle">
        <div class="mb-content" style="text-align: center">
          <h3>Add projects to user:</h3>
          <div class="scroll-block" style="max-height: 150px; text-align: left;">
            <div *ngFor="let project of listOfProjects" style="display: flex">
              <input type="checkbox" value="{{project.id}}" class="projects" checked="{{project.checked}}">
              <label>{{project.name}}</label>
            </div>
          </div>
          <div>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="addProject()">OK</button>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="infoBox" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle">
        <div class="mb-content">
          <div *ngIf="!infoMessage">
            <img src="../../../../../assets/img/loading.gif" width="150" height="150"/>
          </div>
          <div *ngIf="infoMessage">
            <h2>{{infoMessage}}</h2>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="closeModal()">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
