<div class="page-container forgot-password-cover">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="content col-lg-4 col-md-4 col-sm-6 col-xs-12 col-centered">
        <form class="form-validate animated bounceInUp" [formGroup]="forgotPasswordForm">
          <div class="panel panel-body forgot-password-form">
            <div class="col-lg-12 logo">
            </div>
            <div class="text-center">
              <h5 class="content-group">Enter new password</h5>
            </div>
            <div class="form-group has-feedback has-feedback-left">
              <input type="password" class="form-control" placeholder="New password" name="password" required
                     formControlName="password">

              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
              <div class="alert alert-danger" *ngIf="!forgotPasswordForm.get('password').valid && formErrors.password">
                {{ formErrors.password }}
              </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="password" class="form-control" placeholder="Confirm password" name="confirmPassword"
                     required invalidConfirmPassword formControlName="confirmPassword">

              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
              <div class="alert alert-danger"
                   *ngIf="!forgotPasswordForm.get('confirmPassword').valid && formErrors.confirmPassword">{{
                formErrors.confirmPassword }}
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-block" (click)="onSendHandler($event)">Send</button>
            </div>
            <div class="form-group forgot-password-options">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <a [routerLink]="['../login']">Back</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
