.col-centered {
  float: none;
  margin: 0 auto;
}

.forgot-password-cover {
  background: url(../../../assets/img/start-page.jpg) top center no-repeat;
  background-size: cover;
  height: 100%;
}

.page-container {
  padding-top: 15em;
}

.form-group button {
  background-color: #1b1e24;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'Futura PT' , sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 8px;
}

.form-group button:hover, .form-group button:active, .form-group button:focus {
  background-color: #1b1e24;
  border-radius: 0;
}

.logo {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

small {
  display: block;
  padding: 3px
}

.alert {
  padding: 8px;
}

h5{
  font-weight: 700;
}

.forgot-password-form {
  background-color: rgba(255,255,255,0.8)
}

@media (max-width: 466px) {
  .page-container {
    padding-top: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
  }

  .page-content{
    width: 100%;
  }
}

@media (max-height: 480px) {
  body{
    height: 100%
  }
  .page-container {
    padding-top: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
  }

  .page-content{
    width: 100%;
  }
  .forgot-password-cover{
    height: auto;
  }
}

@media (max-height: 600px) {
  .page-container {
    padding-top: 3%;
  }
}

@media screen and (max-width: 599px), screen and (max-height: 599px) {
  .content-wrapper{
    display: block;
  }

  .page-container{
    padding-top: 1%;
  }

  .content{
    padding-top: 4px;
  }
}

@media (max-width: 599px) {
  .page-container {
    padding-top: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
  }

  .page-content{
    width: 100%;
  }
}

.message-box .mb-container {
  position: absolute;
  left: 0px;
  top: 25%;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
}

.message-box {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.message-box .mb-container .mb-middle .mb-title {
  width: 100%;
  float: left;
  padding: 10px 0px 0px;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
}

.message-box .mb-container .mb-middle {
  width: 50%;
  left: 25%;
  position: relative;
}
