<div class="page-container forgot-password-cover">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content col-lg-4 col-md-4 col-sm-6 col-xs-12 col-centered">
        <!-- Form with validation -->
        <form class="form-validate animated bounceInUp" [formGroup]="forgotPasswordForm">
          <div class="panel panel-body forgot-password-form">
            <div class="col-lg-12 logo">
            </div>

            <div class="text-center">
              <h5 class="content-group">Enter your email to recover your password</h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="email" class="form-control" placeholder="Email" name="email" required formControlName="email"
                     email>

              <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
              </div>
              <div class="alert alert-danger" *ngIf="!forgotPasswordForm.get('email').valid && formErrors.email">{{ formErrors.email }}</div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-block" (click)="onForgotPasswordHandler($event)">Send</button>
            </div>
            <div class="form-group forgot-password-options">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <a [routerLink]="['../login']">Back</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
