html, body{
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.form-control{
  border-radius: 0 !important;
}

#blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(255, 255, 255); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { color: rgb(255, 255, 255); }
  100% { color: rgba(34, 34, 34, 0); }
}
