input:not([type="file"]), textarea{
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);;
  padding: 5px;
}

input, textarea{
  width: 100%;
  margin-bottom: 10px;
}

.photo-container img {
  margin: 10px
}

.photo-container img:hover {
  opacity: 0.6;
}

form{
  margin-top: 30px;
}

.list-projects{
  padding: 20px;
}

.action-buttons-group{
  margin-top: 10px;
  margin-bottom: 30px;
}

button {
  color: white;
  background-color: #5c5cb5;
  border-color: #5c5cb5;
}

button:hover, button:active {
  color: white;
  background-color: #5151b0;
  border-color: #5151b0;
}
