<div class="list-projects table-responsive scroll-block">
  <table id="projects_table" class="table table-striped  table-hover">
  </table>
</div>

<div class="action-buttons-group">
  <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
    <button type="submit" class="btn btn-block" (click)="isClickOnCreateProject = true" (click)="selectedProject = null"
            (click)="onClearForm()">Create new project
    </button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
    <button type="submit" class="btn btn-block" *ngIf="selectedProject" (click)="onEditProject()">Edit project</button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
    <button type="submit" class="btn btn-block" *ngIf="selectedProject" data-toggle="modal"
            data-target="#infoDeleteBox">Delete project
    </button>
  </div>
</div>


<div *ngIf="isClickOnCreateProject || isClickOnEditProject" class="panel-wrapper animated fadeInLeft">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active col-for-5"><a href="#common-settings" data-toggle="tab">Common
              settings</a></li>
            <li class="col-for-5"><a href="#ar-settings" data-toggle="tab">AR models
              settings</a></li>
            <li class="col-for-5"><a href="#plans-settings" data-toggle="tab">Layout
              settings</a></li>
            <li class="col-for-5"><a href="#rooms-settings" data-toggle="tab">Rooms
              settings</a></li>
            <li class="col-for-5"><a href="#editor" data-toggle="tab">Editor</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <!--=============================-->
            <!--Common settings-->
            <!--=============================-->
            <div class="tab-pane fade in active" id="common-settings">
              <div>
                <form class="form-horizontal col-lg-12" [formGroup]="projectForm">
                  <div class="col-lg-12">
                    <div class="col-lg-3 col-sm-12">
                      <label>Project name:</label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <input type="text" formControlName="name" title=""/>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="col-lg-3 col-sm-12">
                      <label>Project description:</label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <textarea type="text" formControlName="description" title=""
                                (keyup)="changeDescription($event.target)"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="col-lg-3 col-sm-12">
                      <label>Project view:</label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <input type="file" title="" (change)="onFileChange($event, 'logo')"
                             accept="image/jpg,image/jpeg"/>
                      <p *ngIf="logo[0]">{{logo[0].name}}</p>
                      <input type="hidden" name="fileHidden" formControlName="logo"/>
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="col-lg-3 col-sm-12">
                      <label>Project images:</label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <input type="file" multiple title="" accept="image/jpg,image/jpeg"
                             (change)="onUpdateFiles($event)"/>
                      <p *ngIf="projectPhotos">{{projectPhotos.length}} photos</p>
                      <input type="hidden" name="fileHidden" formControlName="photos"/>
                    </div>
                  </div>
                  <div class="photo-container" *ngIf="projectPhotos.length != 0">
                    <img *ngFor="let photo of projectPhotos" src="{{photo}}" width="100px" height="70px"
                         (click)="deleteProjectPhoto($event)" title="Click if you want delete it">
                  </div>
                  <div class="col-lg-12">
                    <div class="col-lg-3 col-sm-12">
                      <label>Youtube link:</label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <input type="text" formControlName="videoUrl" title=""/>
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="col-lg-3 col-sm-12">
                      <label>Layout: </label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <rl-tag-input [(ngModel)]="plans" [ngModelOptions]="{standalone: true}"
                                    placeholder="Enter name of layout ... "
                                    style="border: 1px solid #9d9d9d; border-radius: 5px;
                                    box-shadow: 0 0 1px rgba(0,0,0,0.5); padding-top: 0;
                                     padding-bottom: 0; padding-left: 5px; margin-top: 5px;
                                      margin-bottom: 5px;"></rl-tag-input>
                    </div>
                  </div>

                  <div class="col-lg-12 ">
                    <div class="col-lg-3 col-sm-12">
                      <label>AR models: </label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <rl-tag-input [(ngModel)]="armodels" [ngModelOptions]="{standalone: true}"
                                    placeholder="Enter names of AR models ... "
                                    style="border: 1px solid #9d9d9d; border-radius: 5px;
                                    box-shadow: 0 0 1px rgba(0,0,0,0.5); padding-top: 0;
                                     padding-bottom: 0; padding-left: 5px; margin-top: 5px;
                                      margin-bottom: 5px;"></rl-tag-input>
                    </div>
                  </div>

                  <div class="col-lg-12 ">
                    <div class="col-lg-3 col-sm-12">
                      <label>Styles: </label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <rl-tag-input [(ngModel)]="styles" [ngModelOptions]="{standalone: true}"
                                    placeholder="Enter style ... "
                                    style="border: 1px solid #9d9d9d; border-radius: 5px;
                                    box-shadow: 0 0 1px rgba(0,0,0,0.5); padding-top: 0;
                                     padding-bottom: 0; padding-left: 5px; margin-top: 5px;
                                      margin-bottom: 5px;"></rl-tag-input>
                    </div>
                  </div>

                  <div class="col-lg-12 ">
                    <div class="col-lg-3 col-sm-12">
                      <label>Names of rooms: </label>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <rl-tag-input [(ngModel)]="typesRooms" [ngModelOptions]="{standalone: true}"
                                    placeholder="Enter names of rooms ... "
                                    style="border: 1px solid #9d9d9d; border-radius: 5px;
                                    box-shadow: 0 0 1px rgba(0,0,0,0.5); padding-top: 0;
                                     padding-bottom: 0; padding-left: 5px; margin-top: 5px;
                                      margin-bottom: 5px;"></rl-tag-input>
                    </div>
                  </div>
                  <div class="col-lg-12 wrapper-form-buttons">
                    <div class="form-buttons">
                      <button class="btn col-lg-2 col-md-2"
                              (click)="onSaveHandler($event)">Save
                      </button>
                      <button class="btn col-lg-2 col-md-2" (click)="onClearForm()">Clear form</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--=============================-->
            <!--End Common settings-->
            <!--=============================-->

            <!--=============================-->
            <!--Plans settings-->
            <!--=============================-->
            <div class="tab-pane fade" id="plans-settings">
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#planImg">+</button>
              <div class="rooms-container scroll-block" style="max-height: 400px;">
                <div *ngFor="let plan of listPlans" class="col-lg-12 room">
                  <div class="col-lg-4"><img src="{{plan.imgBase64}}" width="100px" height="70px" title=""></div>
                  <div class="col-lg-4"><p>Name: {{plan.planName}}</p>
                    <p>Floor number: {{plan.floorNumber}}</p>
                  </div>
                  <div class="col-lg-4"><i class="icon-close2" (click)="showMessageDeletePlan(plan.planId)"></i> <i
                    class="icon-pen" (click)="onEditPlan(plan.planId)"></i>
                  </div>
                </div>
              </div>
            </div>

            <!--=============================-->
            <!--End Plans settings-->
            <!--=============================-->

            <!--=============================-->
            <!--AR model settings-->
            <!--=============================-->
            <div class="tab-pane fade" id="ar-settings">
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#armodel">+</button>
              <div class="rooms-container scroll-block" style="max-height: 400px;">
                <div *ngFor="let model of listARModels" class="col-lg-12 room">
                  <div class="col-lg-6 col-lg-offset-2">
                    <p>Name: {{model.name}}</p>
                    <p>Object file: {{model.objectFile}}</p>
                    <p>Additional files: </p>
                    <ul class="scroll-block" style="overflow: auto;"><li *ngFor="let link of model.materialFiles">{{link}}</li></ul>
                    <p>Size: {{model.size}}</p>
                  </div>
                  <div class="col-lg-4"><i class="icon-close2" (click)="showMessageDeleteARModel(model.modelId)"></i>
                  </div>
                </div>
              </div>
            </div>

            <!--=============================-->
            <!--End AR model settings-->
            <!--=============================-->


            <!--=============================-->
            <!--Rooms settings-->
            <!--=============================-->
            <div class="tab-pane fade" id="rooms-settings">
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#roomImg">+</button>
              <div class="rooms-container scroll-block" style="max-height: 400px;">
                <div *ngFor="let room of listRooms" class="col-lg-12 room">
                  <div class="col-lg-4"><img src="{{room.imgBase64}}" width="100px" height="70px" title=""></div>
                  <div class="col-lg-4">
                    <p>Name: {{room.name}}</p>
                    <p>Style: {{room.interior}} </p>
                    <p>Day time: {{room.dayTime}} </p>
                    <p>Layout: {{room.planName}} </p>
                    <p>Default: {{room.default ? 'Yes' : 'No'}} </p>
                  </div>
                  <div class="col-lg-4"><i class="icon-close2" (click)="showMessageDeleteRoom(room.imageRoomId)"></i> <i
                    class="icon-pen" (click)="onEditRoom(room.imageRoomId)"></i>
                  </div>
                </div>
              </div>
            </div>

            <!--=============================-->
            <!--End Rooms settings-->
            <!--=============================-->

            <div class="tab-pane fade" id="editor">

              <button class="btn btn-primary" (click)="openEditor()">Go to the editor</button>

            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn col-lg-2 col-md-2 pull-right" (click)="onCancel()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="roomImg" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle">
      <div class="mb-content">
        <form enctype="multipart/form-data">
          <div class="form-group">
            <label for="img">Image: </label>
            <input type="file" id="img" name="img" placeholder="Img" (change)="onFileChange($event, 'roomFile')"
                   accept="image/jpg,image/jpeg">
            <p *ngIf="image">{{image.name || image}}</p>
          </div>
          <div class="form-group">
            <label for="interior">Style: </label>
            <select id="interior" name="interior" class="form-control" [(ngModel)]="interior"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let style of savedProjectData.interiorsInfo" value="{{style.id}}">{{style.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nameRoom">Name of room:</label>
            <select id="nameRoom" class="form-control" [(ngModel)]="nameRoom" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let room of savedProjectData.roomsInfo" value="{{room.id}}">
                {{room.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="namePlan">Layout: </label>
            <select id="namePlan" class="form-control" [(ngModel)]="namePlan" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let plan of savedProjectData.plansExistsInfo" value="{{plan.id}}">
                {{plan.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Date time: </label>
            <div>
              <label for="day">
                <input type="radio" id="day" name="contact" value="day" checked [(ngModel)]="dayTime"
                       [ngModelOptions]="{standalone: true}"> Day </label>
              <label for="night">
                <input type="radio" id="night" name="contact" value="night" [(ngModel)]="dayTime"
                       [ngModelOptions]="{standalone: true}"> Night </label>
            </div>
          </div>
          <div class="form-group">
            <label for="img">Default: </label>
            <input style="vertical-align: sub;"  type="checkbox" id="defaultRoom" name="defaultRoom"
                   [(ngModel)]="defaultRoom" [ngModelOptions]="{standalone: true}">
          </div>
        </form>
      </div>
      <div class="mb-footer">
        <div class="pull-right">
          <a class="btn btn-primary btn-lg btn-logout" data-dismiss="modal"
             (click)="addNewImgRoom(nameRoom, interior, dayTime, namePlan, defaultRoom)">OK</a>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="resetRoomsForm()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="planImg" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle">
      <div class="mb-content">
        <form enctype="multipart/form-data">
          <div class="form-group">
            <label>Layout file: </label>
            <input type="file" id="imgplan" name="img" placeholder="Plan" (change)="onFileChange($event, 'planFile')"
                   accept="image/jpg,image/jpeg">
            <p *ngIf="planImg">{{planImg.name || planImg}}</p>
          </div>
          <div class="form-group">
            <label for="plan">Layout name: </label>
            <select id="plan" name="planName" class="form-control" [(ngModel)]="planName"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let plan of savedProjectData.plansInfo" value="{{plan.id}}">{{plan.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="floorNumber">Floor number : </label>
            <input type="number" id="floorNumber" name="floorNumber" placeholder="Floor number" class="form-control"
                   [(ngModel)]="floorNumber"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </form>
      </div>
      <div class="mb-footer">
        <div class="pull-right">
          <a class="btn btn-primary btn-lg btn-logout" data-dismiss="modal"
             (click)="addNewImgPlan(planName, floorNumber)">OK</a>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="resetPlansForm()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="armodel" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle">
      <div class="mb-content">
        <form enctype="multipart/form-data">

          <div class="form-group">
            <label for="armodelName">AR modal name: </label>
            <select id="armodelName" name="planName" class="form-control" [(ngModel)]="arName"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let arinfo of savedProjectData.arObjectsInfo" value="{{arinfo.id}}">{{arinfo.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="img">Object file : </label>
            <input type="file" id="obj" name="obj" placeholder="Object file"
                   (change)="onFileChange($event, 'objectFile')"
                   accept=".obj">
            <p *ngIf="objectFile">{{objectFile.name || objectFile}}</p>
          </div>
          <div class="form-group">
            <label for="img">Material file : </label>
            <input type="file" id="mtl" name="mtl" placeholder="Material file"
                   (change)="onFileChange($event, 'materialFile')"
                   accept=".mtl">
            <p *ngIf="materialFile">{{materialFile.name || materialFile}}</p>
          </div>
          <div class="form-group">
            <label for="img">Maps : </label>
            <input type="file" multiple title="" accept="image/png"
                   (change)="onUpdateMapFiles($event)"/>
            <p *ngIf="mapsPhotos">{{mapsPhotos.length}} files</p>
          </div>
          <div class="photo-container" *ngIf="mapsPhotos.length != 0">
            <img *ngFor="let photo of mapsPhotos" src="{{photo}}" width="100px" height="70px"
                 (click)="deleteMapsPhoto($event)" title="Click if you want delete it">
          </div>
          <div class="form-group">
            <label for="floorNumber">Size, % : </label>
            <input type="number" id="size" name="size" placeholder="Size" class="form-control"
                   [(ngModel)]="arsize" [ngModelOptions]="{standalone: true}">
          </div>
        </form>
      </div>
      <div class="mb-footer">
        <div class="pull-right">
          <a class="btn btn-primary btn-lg btn-logout" data-dismiss="modal"
             (click)="addNewARModel(arName, arsize)">OK</a>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="resetARModelForm()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="infoBox" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle">
      <div class="mb-content">
        <div *ngIf="!infoMessage">
          <img src="../../../../../assets/img/loading.gif" width="150" height="150"/>
        </div>
        <div *ngIf="infoMessage">
          <h2>{{infoMessage}}</h2>
          <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="closeModal()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="projectSharingModal" class="modal message-box animated fade" role="dialog">
  <div class="mb-container col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
    <div class="mb-middle col-lg-12">
      <div class="mb-content col-lg-12">
        <div class="mb-content">
          <div *ngIf="!infoMessage" style="text-align: center">
            <img src="../../../../../assets/img/loading.gif" width="150" height="150"/>
          </div>
          <div *ngIf="infoMessage">
            <div class="row">
              <input id="linkForSharing" value="{{infoMessage}}" class="col-md-8 share" title="Share link">
              <button id="copy-btn" class="btn btn-default copy"
                      (click)="copyLink()">Copy Link
              </button>
            </div>
            <div class="row" style="margin-top: 5px; margin-bottom: 5px">
              <input id="iframeForSharing" value="{{iframeMessage}}" class="col-md-8 share" title="Share Embed">
              <button id="copy-iframe-btn" class="btn btn-default copy"
                      (click)="copyIframe()">Copy Embed
              </button>
            </div>
            <div style="text-align: center">
              <button class="btn btn-default close-btn" data-dismiss="modal" (click)="closeModal()">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="usersModal" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle col-lg-12">
        <div class="mb-content col-lg-12">
          <div *ngIf="!users">
            <img src="../../../../../assets/img/loading.gif" width="150" height="150"/>
          </div>
          <div *ngIf="users">
            <h3>Add users to project:</h3>
            <div *ngFor="let user of users" style="display: flex">
              <input type="checkbox" value="{{user.userId}}" class="users" checked="{{user.checked}}">
              <label>{{user.name}} , {{user.email}}</label>
            </div>
            <div>
              <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="addUsersToProject()">OK
              </button>
              <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="infoDeleteBox" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle">
        <div class="mb-content">
          <h4>Are you sure that you want to delete the project?</h4>
          <div>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="onDeleteProject()">Yes
            </button>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="infoDeletePlan" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle">
        <div class="mb-content">
          <h4>Are you sure that you want to delete the layout?</h4>
          <div>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="onDeletePlan()">Yes</button>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="infoDeleteRoom" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle">
        <div class="mb-content">
          <h4>Are you sure that you want to delete the room?</h4>
          <div>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="onDeleteRoom()">Yes</button>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="infoDeleteArmodel" class="modal message-box animated fade" role="dialog">
    <div class="mb-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
  col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2">
      <div class="mb-middle">
        <div class="mb-content">
          <h4>Are you sure that you want to delete the AR model?</h4>
          <div>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal" (click)="onDeleteArModel()">Yes
            </button>
            <button class="btn btn-default btn-lg btn-logout" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
