<div>
  <div class="form-horizontal col-lg-8 col-lg-offset-2 col-md-offset-2">
    <div class="form-group">
      <label class="col-md-3 col-xs-12 control-label">Company name</label>
      <div class="col-md-6 col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-pencil"></i></span>
          <input type="text" class="form-control">
        </div>
        <span class="help-block">Enter company name</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 col-xs-12 control-label">Company address</label>
      <div class="col-md-6 col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-pencil"></i></span>
          <input type="text" class="form-control">
        </div>
        <span class="help-block">Enter company address</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 col-xs-12 control-label">Company contact details</label>
      <div class="col-md-6 col-xs-12">
        <textarea class="form-control" rows="5"></textarea>
        <span class="help-block">Enter company details</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-lg-12">
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>


  <div class="panel-body">
      <table id="companies_table" class="table table-striped table-bordered table-hover no-footer">
      </table>
  </div>
</div>
